.debug-console-container {
    position: absolute;
    background-color: black;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    padding-left: 8px;
}

.debug-console-container::after {
    content: '';
    background-color: #ccc;
    position: absolute;
    left: 0;
    width: 8px;
    height: 100%;
    
    z-index: 9999;
}