.background {
    position: fixed;
    z-index: -99;
    background-image: url('/src/assets/pictures/Background.jpg');
    height: 100vh;
    width: 100vw;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
    top: 0;
    left: 0;
}

.white-back {
    position: fixed;
    z-index: -100;
    background-color: white;
    height: 100vh;
    width: 100vw;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
}

.black-back {
    position: fixed;
    z-index: -70;
    background-color: black;
    height: 100vh;
    width: 100vw;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.3;
    top: 0;
    left: 0;
}