.inventory-tab-panel-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.template-button {
    position: fixed;
    display: flex;
    bottom: 5%;
    right: 5%;
    z-index: 100;
}